body {
  color: white;
  background: black;

  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;

}

.output {
  color: black;
  background: white;
  padding: 5px;
  border-radius: 10px;
  width: 650px;
  max-width: 650px;
}